p {
    margin: 0;
}

.App {
    background-color: #666666;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Chat {
    align-self: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(36, 90, 87);
    height: 75vh;
    width: 75vw;
    border: 2px solid black;
    border-radius: 5px;
    max-width: 800px;
}

.Chat-messages {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    padding-bottom: 20px;
}

.Chat-input-div {
    background-color: rgb(97, 174, 175);
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: auto;
    border-top: 2px solid black;
}

.Chat-input-form {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.Chat-input-text {
    width: 80%;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid black;
}

.Chat-input-submit {
    width: 10%;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: darkgray;
    margin-right: 20px;
}

.Message-left {
    background-color: beige;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    width: 70%;
    box-shadow: 3px 3px 3px 3px;
}

.Message-right {
    /*background-color: aliceblue;*/
    background-color: powderblue;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    width: 70%;
    margin-left: auto;
    box-shadow: 3px 3px 3px 3px;
}

.Loading {
    background-color: aliceblue;
    margin: 10px;
    padding: 5px 15px;
    border-radius: 10px;
    width: auto;
    margin-left: auto;
    box-shadow: 3px 3px 3px 3px;
}

.Loading-text {
    margin: 0;
    clip-path: inset(0 3ch 0 0);
    animation: frames 1s steps(4) infinite;
}

@keyframes frames {
    to {
        clip-path: inset(0 -1ch 0 0);
    }
}
